/****************
ALL TYPOGRAPHY RELEATED STUFF COMES HERE

We set the main font-size to 62.5%
so 16px would be 1.6 rem! Use Rems!
******************/

//FONTS
@import url("https://fonts.googleapis.com/css?family=Merriweather");

.font-merri-regular {
  font-family: "Merriweather", serif;
}

.font-dax-light {
  font-family: "Dax W01 Light";
}

.font-dax-regular {
  font-family: "Dax W01 Regular";
}

.font-dax-Bold {
  font-family: "Dax W01 Bold";
}

html {
  font-size: 62.5%;
  transition: font-size 0.5s ease-in;
}

body {
  font-size: 2rem;
  @extend .font-merri-regular;
  letter-spacing: 0.6px;
}

h1 {
  font-size: 2.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.55px;
  margin-bottom: 40px;

  /* Instead use this non-standard one: */
  word-break: break-word;
  hyphens: auto;

  @include bp-small {
    font-size: 3rem;
    line-height: 5rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.6px;
}

p {
  font-size: 2rem;
  letter-spacing: 0.55px;
  line-height: 3.3rem;
  @extend .font-dax-light;
}
