/************
SET THE VARIABLES YOU USE IN YOUR PROJECT
Like colors, page width, breakpoints etc.
*************/

//Colors
.bg-primary {
  background-color: lightblue;
}
.bg-secondary {
  background-color:  lightcoral;
}
.bg-third {
  background-color: lightcyan;
}
.bg-fourth {
  background-color: lightgoldenrodyellow;
}

//Layout
$max-page-width: 1440px;

//Breakpoints
$breakpoint-small: 680px;
$breakpoint-medium: 1020px;
$breakpoint-large: 1440px;

